* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

nav img {
    height: 100%;
    width: auto;
    object-fit: contain;
    mix-blend-mode: multiply;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 1rem;
}

nav li {
    margin: 0.5rem 0.5rem
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-size:larger;
}

nav a:hover {
    transition: ease-out .25s;
    color: #00f5ff;
    border-bottom: #f0f0f0 .8rem solid;
}

header {
    margin-top: 100px;
    background-image: url("../images/app-homepage-background.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    padding: 0.5rem;
}

main {
    background-color: antiquewhite;
}

.main-feed h2 {
    margin-top: 0;
    font-size: 3rem;
    padding: 1.5rem;
}

.posts-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
}

.post {
    background-color: white;
    width: 90%;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.post .post-image {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.post .post-title {
    font-weight: bold;
}

footer {
    height: 10rem;
    background-color: blueviolet;
    padding-left: 0.5rem;
}

footer .author {
    margin-top: 0;
    padding-top: 0.5rem;
}

footer address {
    display: inline-block;
}

footer a:hover {
    color:#00f5ff;
}

@media (min-width: 1200px) {

    header {
        min-height: 400px;
    }

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 2.5rem;
    }

    nav {
        padding: 1rem 3rem; 
        height: 150px;
    }

    nav ul {
        padding-bottom: 1rem;
    }

    nav li {
        font-size: 2rem;
    }
    
    .main-feed h2 {
        font-size: 4rem;
    }

    .posts-layout {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem, 0.5rem;
    }

    .post {
        flex: 0 0 calc(31.8% - 2rem);
        margin: 1rem;
    }

    .post-title {
        font-size: 2rem;
    }

    footer {
        padding: 1.5rem 3rem;
        font-size: 2rem;
    }

}