/* General Padding for the page */
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Styling for the nav bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(80, 33, 124);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

nav img {
    height: 80%;
    width: auto;
    object-fit: contain;
    mix-blend-mode: multiply;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 0;
    margin: 0;
    gap: 2rem;
}

nav li {
    margin: 0;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1rem;
}

nav a:hover {
    transition: ease-out .25s;
    color: #00f5ff;
    border-bottom: #f0f0f0 0.3rem solid;
}

/* Styling for the header */
header {
    margin-top: 70px;
    background-image: url("../images/app-homepage-background.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header div {
    padding: 1.5rem;
    border-radius: 8px;
}

header h1 {
    color: black;
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
}

header p {
    color: black;
    margin: 0;
    font-size: 0.5rem;
}

/* Styling for the posts layout */
main {
    background-color: rgb(255, 236, 212);

}


.main-feed h2 {
    margin-top: 0;
    font-size: 3rem;
    padding: 1.5rem;
}

.posts-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 0;
}

/* Styling for the individual post */
.post {
    background-color: white;
    width: 90%;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.post-image-container {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.post-title {
    font-weight: bold;
    margin-top: 1rem;
}

/* Styling for the footer */
footer {
    height: 10rem;
    background-color: rgb(158, 79, 237);
    padding-left: 0.5rem;
}

footer .author {
    margin-top: 0;
    padding-top: 0.5rem;
}

footer address {
    display: inline-block;
}

footer a {
    color: aliceblue;
    text-decoration: none;
}

footer a:hover {
    color:#00f5ff;
}

/* Responsive Design for the large screen */
@media (min-width: 1200px) {

    /* Styling for the header */
    header {
        height: 400px;
    }

    header h1 {
        padding-top: 1.5rem;
        font-size: 4rem;
    }

    header p {
        font-size: 2.5rem;
    }

    /* Styling for the nav bar */
    nav {
        padding: 1rem 3rem; 
        height: 150px;
    }

    nav ul {
        padding-bottom: 1rem;
    }

    nav li {
        font-size: 2rem;
    }
    
    /* Styling for the posts layout */
    .main-feed h2 {
        font-size: 4rem;
    }

    .posts-layout {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 1rem;
        justify-content: center;
        margin: 0 auto;
    }

    .post {
        flex: 0 0 calc(31.8% - 2rem);
        margin: 1rem;
    }

    .post-title {
        font-size: 2rem;
    }

    .post-image {
        height: 250px;
    }

    /* Styling for the footer */
    footer {
        padding: 1.5rem 3rem;
        font-size: 2rem;
    }

}